*.nc
.DS_Store
__pycache__
nogit_*

chem_funs.py
thermo/*network*.txt

fastchem_vulcan/obj/*.o
fastchem_vulcan/obj/*.d
fastchem_vulcan/input/element_abundances_vulcan.dat
fastchem_vulcan/fastchem
fastchem_vulcan/output/

output/
plot/

AGNI

